<section class="block container">
  <header class="block__header">
    <h2 class="block-heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maiores
      laboriosam praesentium molestias facere modi dolorum sequi deleniti optio
      aspernatur exercitationem, repellat fuga sed nobis id, aliquam dolorem.
      Id, necessitatibus.
    </p>
  </header>
</section>
<section class="block block-dark block-skewed-left">
  <div class="container">
    <h2 class="block-heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maiores
      laboriosam praesentium molestias facere modi dolorum sequi deleniti optio
      aspernatur exercitationem, repellat fuga sed nobis id, aliquam dolorem.
      Id, necessitatibus.
    </p>
  </div>
</section>
