<div class="collapsible collapsible-expanded">
  <header class="collapsible__header">
    <h2>Item 1</h2>
    <svg class="icon icon-stroke-white collapsible__chevron">
      <use xlink:href="icons/sprite.svg#chevron"></use>
    </svg>
  </header>

  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi reiciendis
    similique amet magni beatae ullam deleniti iusto ratione aliquam unde
    ducimus quidem, eius libero animi nisi totam. Dolore, laboriosam
    consequuntur?
  </div>
</div>
