<div class="media">
  <div class="media__image">
    <img class="icon" src="icons/snap.svg" alt="" />
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et explicabo ad
      unde, consequuntur provident quo voluptatibus neque distinctio
      necessitatibus laborum placeat molestias eaque saepe doloremque, culpa
      corporis quibusdam assumenda sit.
    </p>
  </div>
</div>
